<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row section-margin section">
    <div class="col-sm-8">
      <div class="row">
        <h1 class="home-photo-title"><%= photo.name %></h1>
        <p class="col-sm-4 hdr-p">
          <%= image_tag photo.user.personage, class: "media-object, img-circle" %>
          <span id="user"><a href="/users/<%= photo.user.id %>"><%= photo.user.name %></a></span>
        </p>
        <p class="col-sm-4 date hdr-p">
          on <a class="date" href="#"><%= photo.created_at.to_formatted_s(:long_ordinal) %></a>
        </p>
      </div>
      <div class="row p-top media-body" id="p-no-margin">
        <p>
          <%= simple_format(photo.caption) %>
        </p>
      </div>
      <div class="media-right photo">
        <%= image_tag photo.versions[:thumb].url, class: "img-responsive", alt: photo.title %>
      </div>
      <div class="lw-links">
        <a href="#"><i class="glyphicon glyphicon-comment"></i><span>Read Comments</span></a>
        <a href="#"><i class="glyphicon glyphicon-cloud-upload"></i><span>Upload</span></a>
        <a href="/posts/<%= photo.id %>/share" id="blue-a"><i class="glyphicon glyphicon-envelope" id="blue-share"></i><span>Share this photo</span></a>
      </div>
    </div>
  </div>
  <br>
  <% if photo.is_owner?(current_user) %>
    <%= link_to ' Edit', edit_photo_path(photo), class: "btn btn-primary glyphicon glyphicon-edit" %> <%= link_to ' Delete', photo, method: :delete, data: {confirm: 'Are you sure you want to delete this beautiful photo?'}, class: "btn btn-danger glyphicon glyphicon-remove-sign" %>
  <% end %>
</div>
