<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Galleries</h1>
  <%= paginate @galleries %>


  <% @galleries.each do |gallery| %>
    <% render partial: "galleries/gallery", locals: {post: gallery} %>
  <% end %>

  <%= render @galleries %>

  <%= paginate @galleries %>
  <br>
  <div class="col-xs-12">
    <%= link_to 'New GAllery', new_gallery_path %>
  </div>
</div>
