<!DOCTYPE html>
<html>
  <head>
    <title>Galleria De Fotos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <header>
        <div class="navbar-header top-menu text-left nav-pad-lt">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path , class: "navbar-brand" do %>
            <%= image_tag "logo.png", class: "media-object logo" %>
          <% end %>
          <a class="navbar-brand" href="#">Galleria De Fotos</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="a-pad" href="#">About</a></li>
            <% if @current_user %>
              <li><%= link_to " Logout", logout_path, method: :delete, class: "btn btn-danger glyphicon glyphicon-log-out" %></li>
            <% else %>
              <li><%= link_to " Signup", new_user_path, class: "btn btn-primary" %></li>
              <li><%= link_to " Login", login_path, class: "btn btn-primary glyphicon glyphicon-log-in" %></li>
            <% end %>
            <form class="navbar-form navbar-right">
              <div class="form-group has-feedback search">
                <input type="text" class="form-control" placeholder="Search">
                <i class="glyphicon glyphicon-search form-control-feedback search-icon"></i>
              </div>
            </form>
          </ul>
        </div>
        <div class="row text-center hdr-main">
          <h1>Galleria De Fotos</h1>
        </div>
      </header>
    </div>
  </nav>
  <% if flash.any? %>
    <% flash.each do |status, message| %>
      <div class="alert alert-<%= status %>" role="alert">
        <p>
          <%= message %>
        </p>
      </div>
    <% end %>
  <% end %>
  <%= yield %>
<!-- footer -->
<footer>
  <div class="footer">
      <div class="container footer-style">
          <div class="row">
              <div class="col-sm-1 footer-nav">
                <%= image_tag "tiy-logo.png", class: "media-object" %>
              </div>
              <div class="col-sm-5 footer-nav">
                 The Ironyard Copyright 2013, All Rights Reserved.
              </div>
              <div class="col-sm-6 footer-nav text-right nav">
                  <a href="#">Nav Item 1</a> | <a href="#">Nav Item 2</a> | <a href="#">Nav Item 3</a> | <a href="#">Nav Item 4</a>
              </div>
            </div>
        </div>
    </div>
  </footer>
</body>
</html>
